body{
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0;
}
header{
    background-color: rgb(73, 56, 89);
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
header img{
    width: 50%;
    margin-left: 20px;
    position: relative;
    animation: move 1s infinite alternate;
}
@keyframes move {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 0px;
        top: 10px;
    }
    100%{
        left: 0px;
        top: 0px;
    }
}
.opacity{
    background-color: #4700705f;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header-nav-text{
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
.header-nav-text h4{
    margin: 15px;
    background-color: #bfade5;
    border-radius: 10px;
    border: 1px solid #565656;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-text h4:hover{
    width: 580px;
    height: 40px;
    background-color: rgba(131, 0, 96, 0.164);
}
#animation{
    width: 12%;
}
form{
    display: flex;
    align-items: center;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.search-items{
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(51, 1, 97);
    margin-left: 5px;
    color: #940085;
    width: 70%;
}
#search-button{
    width: 10%;
}
a{
    text-decoration: none;
    color: rgb(54, 18, 41);
}
.index-main{
    background-image: url(/individual-project/img/main-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .welcome-text{
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.welcome-text h1{
    margin: 80px;
    font-size: 40px;
    text-shadow: -1px -1px 0 #940085, 1px -1px 0 #940085, -1px 1px 0 #940085, 1px 1px 0 #940085;
}

.fun-fact{
    background-color: #ae6fa873;
    float: right;
    margin: 20px;
    width: 20%;
    padding: 10px;
}

.fun-fact h4{
    margin: 20px;
    color: #34002f;
}

main .my-photo{
    width: 90%;
    border: 2px solid #34002f ;
}
.about-me{
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10px;
    color: wheat;
    font-size: 18px;
}
.about-me p{
    text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464, 1px 1px 0 #646464;

}
footer{
    background-color: #9365ac;
    display: flex;
    justify-content: center;
}
table{
    width: 40%;
    padding: 10px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #c5c5c5;
}
tr{
    background-color: #00000062;
}

.contacts{
    width: 50%;
    display: flex;
}
.img{
    width: 10%;
    margin-right: 10px;
}
.contact img{
    width: 90%;
}
#insta{
    width: 100%;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* music.html */

.music-main{
    background-image: url(/individual-project/img/забор.jpg);
    height: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.music-main-h1{
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 50px;
}
.music-main-h1 h1{
    margin: 0;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #646464, -1px 1px 0 #646464, 1px 1px 0 #646464;
    color: #1100ff66;
    font-size: 40px;
}
.music-main-h1 div{
    width: 60%;
    height: 5px;
    background-color: #c5c5c58f;
    margin: auto;
    margin-top: 15px;
}

.music-genres{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 30px;
}
.genres{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
    background-color: #0000005f;
    padding: 30px;
}
.line{
    width: 40%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.689);
    margin-bottom: 20px;
}
.music-genres .songs{
    display: flex;
    gap: 20px;
}
.song img{
    width: 80%;
    border: 2px solid rgb(38, 0, 49) ;
    border-radius: 10px;
}
.song{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.song h5{
    margin: 0;
}

#my-comment p{
    writing-mode: vertical-rl;
    position: fixed;
    top: 120px;
    color: #9365ac;
}

/* manga.html */
.manga-main{
    background-image: url(/individual-project/img/manga-html-img.jpg);
    height: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.welcome-manga-text{
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #700000, 1px -1px 0 #700000, -1px 1px 0 #700000, 1px 1px 0 #700000;
    margin: 0;
    margin: auto;
    padding: 50px;
    width: 50%;
    text-align: center;
    font-size: 25px;
}